<div style="padding: 40px 2%">
    <div dir="rtl" style="padding: 0 7%">
        <p (click)="orderStatus == 'submitted' ? '' : changeStatus('cart')" >عربة التسوق</p>
    </div>
    <br>
    <br>
    <div nz-row dir="rtl" nzJustify="center" *ngIf="orderStatus == 'location' || orderStatus == 'payment' || orderStatus == 'submitted'">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <div nz-row nzJustify="center" nzAlign="middle">

                    <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="3" style="text-align: center" (click)="changeStatus('location')">
                        <span [ngStyle]="{'padding': '16px 13px', 'background': orderStatus == 'location' || orderStatus == 'payment' || orderStatus == 'submitted' ?  '#6D1442' : 'rgb(226, 226, 226)', 'border-radius': '999px', 'margin': '0 5px'}">
                            <img src="/assets/images/checkout/location-white.svg" style="width: 25px;" alt="">
                        </span>

                        <span style="font-size: 18px;font-weight: bold">العنوان</span>
                    </div>
                    <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1" style="margin: 0px 10px">
                        <div [ngStyle]="{'width': '100%', 'height': '5px', 'background': orderStatus == 'location' || orderStatus == 'payment' || orderStatus == 'submitted' ? '#6D1442' : 'rgb(226, 226, 226)', 'border-radius': '999px'}"></div>
                    </div>
                    <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="3" style="text-align: center" (click)="changeStatus('payment')">
                        <span [ngStyle]="{'padding': '16px 13px', 'background': orderStatus == 'payment' || orderStatus == 'submitted' ?  '#6D1442' : 'rgb(226, 226, 226)', 'border-radius': '999px', 'margin': '0 5px'}">
                            <img src="/assets/images/checkout/cash-white.svg" style="width: 25px;" alt="">
                        </span>

                        <span style="font-size: 18px;font-weight: bold">الدفع</span>
                    </div>
                    <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1" style="margin: 0px 10px">
                        <div [ngStyle]="{'width': '100%', 'height': '5px', 'background': orderStatus == 'payment' || orderStatus == 'submitted' ?  '#6D1442' : 'rgb(226, 226, 226)', 'border-radius': '999px'}"></div>
                    </div>
                    <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="4" nzXl="3" style="text-align: center">
                        <span [ngStyle]="{'padding': '16px 13px', 'background': orderStatus == 'submitted' ?  '#6D1442' : 'rgb(226, 226, 226)', 'border-radius': '999px', 'margin': '0 5px'}">
                            <img src="/assets/images/checkout/done-white.svg" style="width: 25px;" alt="">
                        </span>

                        <span style="font-size: 18px;font-weight: bold">تم الطلب</span>
                    </div>

            </div>
        </div>
    </div>

    <br>
    <!-- start of cart items & copun section -->
    <div nz-row style="padding: 0 3%;" *ngIf="products.length" class="animate__animated animate__fadeIn animate__faster">
        <!-- check-out & copun section -->
        <div nz-col nzXs="0" nzSm="0" nzMd="11" nzLg="10" nzXl="6" *ngIf="orderStatus != 'submitted' && orderStatus == 'cart' || orderStatus == 'location' || orderStatus == 'payment' && products.length">
            <div style="padding: 16px;background: #f8f8f8;border-radius: 5px;margin-top: 18px;" dir="rtl">
                <h2 style="color: #121212">ملخص عربة التسوق</h2>
                <br>

                <!--  -->
                <p *ngIf="orderStatus == 'cart'" class="copun-query">هل تمتلك كود خصم؟</p>
                <br *ngIf="orderStatus == 'cart'">
                <div *ngIf="orderStatus == 'cart'">
                    <nz-input-group [nzSuffix]="suffixTemplateInfo" [nzPrefix]="prefixTemplateUser" dir="ltr">
                        <input type="text" nz-input placeholder="أدخل كود الخصم..." dir="rtl" [(ngModel)]="copunText"/>
                    </nz-input-group>
                    <p style="text-align: center;margin: 10px;color:rgb(107, 209, 59);font-weight: bold" *ngIf="!isLoadingCoupon && couponMsg">تم تطبيق الخصم بنجاح</p>
                    <ng-template #prefixTemplateUser><button class="search-btn" (click)="applyCopun()" nzLoading="true"><span *ngIf="!isLoadingCoupon">تطبيق</span> <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isLoadingCoupon"></i></button></ng-template>
                    <ng-template #suffixTemplateInfo>
                        <!-- <i nz-icon nz-tooltip nzTooltipTitle="Extra information" class="search-icon" nzType="search"></i> -->
                        <img src="/assets/images/checkout/discount-icon.svg"  style="margin: 0 10px;width: 22px;" alt="">
                    </ng-template>
                </div>
                <!--  -->
                <br>
                <div nz-row nzAlign="middle" nzJustify="space-between">
                    <div nz-col style="font-size: 17px; color: #9ba1aa;font-weight: bold">عدد المنتجات</div>
                    <div nz-col style="font-size: 17px; color: rgb(53, 53, 53);font-weight: bold">{{products.length}}</div>
                </div>
                <br>
                <div nz-row nzAlign="middle" nzJustify="space-between">
                    <div nz-col style="font-size: 17px; color: #9ba1aa;font-weight: bold">إجمالي مبلغ المنتجات</div>
                    <div nz-col style="font-size: 17px; color: rgb(53, 53, 53);font-weight: bold">{{cart_summary['invoice-preview']['order_subtotal'] | number:'1.2-5'}} {{country_iso_code == 'SA' ? 'ريال' : 'درهم'}}</div>
                </div>
                <br>
                <div nz-row nzAlign="middle" nzJustify="space-between">
                    <div nz-col style="font-size: 17px; color: #9ba1aa;font-weight: bold">الخصم</div>
                    <div nz-col style="font-size: 17px; color: rgb(107, 209, 59);font-weight: bold">{{cart_summary['invoice-preview']['discount_applied'] | number:'1.2-5'}} {{country_iso_code == 'SA' ? 'ريال' : 'درهم'}}</div>
                </div>
                <br>
                <div nz-row nzAlign="middle" nzJustify="space-between">
                    <div nz-col style="font-size: 17px; color: #9ba1aa;font-weight: bold">رسوم التوصيل</div>
                    <div nz-col style="font-size: 17px; color: rgb(53, 53, 53);font-weight: bold">{{cart_summary['invoice-preview']['delivery_fee'] | number:'1.2-5'}} {{country_iso_code == 'SA' ? 'ريال' : 'درهم'}}</div>
                </div>
                <br>
                <hr style="border: 1px solid #dadce0">
                <!--  -->
                <br>
                <div nz-row nzAlign="middle" nzJustify="space-between">
                    <div nz-col style="font-size: 17px; color: #9ba1aa;font-weight: bold">إجمالي المبلغ</div>
                    <div nz-col style="font-size: 17px; color: #6D1442;font-weight: bold">{{cart_summary['invoice-preview']['total_amount_after_discount'] | number:'1.2-5'}} {{country_iso_code == 'SA' ? 'ريال' : 'درهم'}}</div>
                </div>
                <br>
                <br>

                <button *ngIf="orderStatus == 'cart'" nzBlock  style="padding: 20px;width: 100%;border: none;background: #6D1442;color: white;border-radius: 999px;" (click)="goLocation()">
                    <p style="font-size: 17px;margin: auto 0;">إتمام عملية الشراء</p>
                </button>

                <button *ngIf="orderStatus == 'location'" nzBlock  style="padding: 20px;width: 100%;border: none;background: #6D1442;color: white;border-radius: 999px;" (click)="goPayment()">
                    <p style="font-size: 17px;margin: auto 0;">إستمرار لعملية الدفع</p>
                </button>

                <button *ngIf="orderStatus == 'payment'  && !isSubmitting" nzBlock  style="padding: 20px;width: 100%;border: none;background: #6D1442;color: white;border-radius: 999px;" (click)="submitOrder()">
                    <p style="font-size: 17px;margin: auto 0;">إتمام الطلب</p>
                </button>
            </div>
        </div>

        <!-- spacer -->
        <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1" *ngIf="orderStatus != 'submitted'"></div>

        <!-- product detail -->
        <div nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="12" nzXl="16" dir="rtl" style="width: 100%" nzAlign="middle" nzJustify="center" *ngIf="orderStatus == 'cart' && products.length && !isLoadingProducts">
            <div nz-row nzAlign="middle" *ngFor="let prod of products;let i = index" style="background: transparent;padding: 15px;margin: 19px 0;border-radius: 5px;border: 1px solid #eee;-webkit-box-shadow: 0px -1px 34px -44px rgba(122,122,122,1);
            -moz-box-shadow: 0px -1px 34px -44px rgba(122,122,122,1);
            box-shadow: 0px -1px 34px -44px rgba(122,122,122,1);">
                <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="8" nzXl="4">
                    <img src="{{prod.product.product_images[0].image_url}}" style="border-radius: 18px" width="110" alt="">
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="0" nzXl="0" style="background: url({{prod.product.product_images[0].image_url}});padding: 150px;background-repeat: no-repeat;background-size: 100% 100%;border-radius: 18px">
                    <!-- <img src="/assets/images/home/product-1.png" width="100%" height="300" alt=""> -->
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="6" style="margin: 10px 0;text-align: start">
                    <b style="font-size: 16px;text-align: start">{{prod.product.name_ar}}</b>
                    <p style="color: rgb(160, 153, 153);font-size: 14px;margin-left: 5px">{{prod.size ? prod.size.name_ar : ''}} {{prod.shalwata ? ',' + prod.shalwata.name_ar : ''}} {{prod.cut ? ',' + prod.cut.name_ar : ''}} {{prod.preparation ? ',' + prod.preparation.name_ar : ''}} {{prod.is_Ras ? ',' + 'بدون راس' : ''}} {{prod.is_karashah ? ',' + 'بدون كرشة' : ''}} {{prod.is_kwar3 ? ',' + 'بدون كوارع' : ''}} {{prod.is_lyh ? ',' + 'بدون لية' : ''}}</p>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="2" style="margin: 10px 0">
                    <b style="font-size: 16px">{{prod.size ? mapPrice(prod.size.sale_price) + (prod.shalwata ? mapPrice(prod.shalwata.price) : 0) : mapPrice(prod.product.price) + (prod.shalwata ? mapPrice(prod.shalwata.price) : 0) | number:'1.2-5'}} {{country_iso_code == 'SA' ? 'ريال' : 'درهم'}}</b>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="6" style="margin: 22px 0;text-align: center">
                    <button  style="background: #f7f8fd;border: none;padding: 13px 16px;border-radius: 999px;" (click)="incrementQty(prod.id, prod.quantity, i)"><i nz-icon nzType="plus" style="color: #121212"></i></button>
                    <span style="font-size: 14px;font-weight: bold;margin: 0 6px;">{{prod.quantity}}</span>
                    <button style="background: #f7f8fd;border: none;padding: 13px 16px;border-radius: 999px;" (click)="decrementQty(prod.id, prod.quantity, i)"><i nz-icon nzType="minus" style="color: #121212"></i></button>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="14" nzXl="6" style="margin: 22px 0">
                    <button style="background: transparent;border: none;border-radius: 999px;margin: 0 3px;" (click)="deleteFromCart(prod.id)">
                        <i nz-icon nzType="delete" nzTheme="outline" style="font-size: 19px"></i>
                        <span style="margin: 0 6px;font-size: 18px;">حذف</span>
                    </button>
                    <button style="background: transparent;border: none;color: #b8b9bb;border-radius: 999px;margin: 0 3px;" (click)="addToFavorites(prod.product.id)">
                        <i nz-icon nzType="heart" nzTheme="outline" style="font-size: 19px"></i>
                        <span style="margin: 0 6px;font-size: 18px;">إضافة للمفضلة</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- location status -->
        <div nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="12" nzXl="16" dir="rtl" style="width: 100%" nzAlign="middle" nzJustify="center" *ngIf="orderStatus == 'location'" class="animate__animated animate__fadeIn animate__faster">
            <!-- addresses -->
            <div nz-row  nzAlign="middle" style="background: #f8f8f8; margin-top: 19px">
                <p style="margin: 10px 15px 0 15px;color: #121212">عنوان التوصيل</p>
            </div>
            <div nz-row  nzAlign="middle" nzJustify="start" style="background: #f8f8f8;padding: 10px;color: #121212" >

                <div *ngFor="let address of addresses; let i = index" nz-col nzXs="23" nzSm="23" nzMd="23" nzLg="11" nzXl="7" [ngStyle]="{'background': address.is_default == '0' ?  'white' : '#6D1442', 'border': '1px solid rgb(233, 230, 230)', 'border-radius': '10px', 'padding': '13px', 'margin': '8px  5px'}">
                    <!-- <div nz-row nzJustify="space-between" style="margin: 15px 0">
                        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">الإسم</div>
                        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">{{address.label}}</div>
                    </div> -->

                    <div nz-row nzJustify="space-between" [ngStyle]="{'margin': '15px 0', 'color': address.is_default != '1' ? '#121212' : 'white'}">
                        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">العنوان</div>
                        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">{{address.address}}</div>
                    </div>

                    <!-- <div nz-row nzJustify="space-between" style="margin: 15px 0">
                        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">رقم الجوال</div>
                        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">05900000000</div>
                    </div> -->
                </div>
            </div>
            <br>


            <!-- delivery dates -->
            <div nz-row  nzAlign="middle" style="background: #f8f8f8; margin-top: 19px">
                <p style="margin: 10px 15px 0 15px;color: #121212" *ngIf="!sacproducts.length">اختر موعد التسليم</p>
                <p style="margin: 10px 15px 0 15px;color: #121212" *ngIf="sacproducts.length">اختر موعد تسليم الأضحية</p>
            </div>
            <div nz-row  nzAlign="middle" nzJustify="start" style="background: #f8f8f8;padding: 10px;color: #121212" >

                <div *ngFor="let order_date of order_dates; let i = index" nz-col nzXs="10" nzSm="10" nzMd="7" nzLg="6" nzXl="4" [ngStyle]="{'background': orderDeliveryDate == order_date.date ? '#6D1442' : 'white', 'border-radius': '10px', 'padding': '13px', 'margin': '8px  5px'}" (click)="selectOrderDate(order_date)">
                    <div nz-row nzJustify="space-between" style="margin: 5px 0">
                        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: center;padding-top: 20%">
                            <p [ngStyle]="{'color': orderDeliveryDate == order_date.date ? '#eee' : 'rgb(196, 195, 195)'}" *ngIf="!sacproducts.length">{{i == 0 ? 'اليوم' : (i == 1 ? 'غداً' : order_date.date_text )}}</p>
                            <p [ngStyle]="{'color': orderDeliveryDate == order_date.date ? '#eee' : 'rgb(196, 195, 195)'}" *ngIf="sacproducts.length">{{ mapSacDay(i) }}</p>
                            <p [ngStyle]="{'font-size': '19px', 'color': orderDeliveryDate == order_date.date ? 'white' : '#121212'}" *ngIf="!sacproducts.length">{{order_date.date_num}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div nz-row  nzAlign="middle" style="background: #f8f8f8;" *ngIf="nonsacproducts.length && !sacproducts.length">
                <p style="margin: 10px 15px 0 15px;color: #121212">اختر فترة التسليم</p>
            </div>
            <div nz-row *ngIf="nonsacproducts.length && !sacproducts.length"  nzAlign="middle" nzJustify="start" style="background: #f8f8f8;padding: 10px;color: #121212" >
                <div *ngFor="let order_period of order_delivery_periods let i = index" nz-col nzXs="10" nzSm="10" nzMd="7" nzLg="6" nzXl="4" [ngStyle]="{'background': orderDeliveryPeriod == order_period ? '#6D1442' : 'white', 'margin': '8px 10px', 'padding': '5px', 'border-radius': '10px'}" (click)="selectOrderPeriod(order_period)">
                    <div nz-row nzJustify="space-between" style="margin: 5px 0">
                        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: center;margin: 0 auto">
                            <p [ngStyle]="{'font-size': '15px', 'margin': 'auto 0', 'color': orderDeliveryPeriod == order_period ? 'white' : '#121212'}">{{order_period.name_ar}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div nz-row *ngIf="!nonsacproducts.length && sacproducts.length"  nzAlign="middle" nzJustify="start" style="background: #f8f8f8;padding: 10px;color: #121212" >
                <div nz-col nzXs="10" nzSm="10" nzMd="7" nzLg="6" nzXl="4" [ngStyle]="{'background': orderDeliveryPeriod == 5 ? '#6D1442' : 'white', 'margin': '8px 10px', 'padding': '5px', 'border-radius': '10px'}" (click)="selectOrderPeriod(5)">
                    <div nz-row nzJustify="space-between" style="margin: 5px 0">
                        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: center;margin: 0 auto">
                            <p [ngStyle]="{'font-size': '15px', 'margin': 'auto 0', 'color': orderDeliveryPeriod == 5 ? 'white' : '#121212'}">فترة العشاء</p>
                        </div>
                    </div>
                </div>
            </div> -->
            <br>

            <!-- notes -->
            <div nz-row  nzAlign="middle" style="background: #f8f8f8; margin-top: 19px">
                <p style="margin: 10px 15px 0 15px;color: #121212">ملاحظاتك على الطلب</p>
            </div>
            <div nz-row  nzAlign="middle" nzJustify="start" style="background: #f8f8f8;padding: 27px 10px;color: #121212;" >
                <textarea rows="4" nz-input [(ngModel)]="orderComment" style="border: none;padding: 19px;color: #121212" placeholder="اكتب ملاحظاتك (اختياري)"></textarea>
            </div>
        </div>

        <!-- payment -->
        <div nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="12" nzXl="16" dir="rtl" style="width: 100%" nzAlign="middle" nzJustify="center" *ngIf="orderStatus == 'payment'" style="margin: 19px 0;border-radius: 5px" class="animate__animated animate__fadeIn animate__faster">
<!-- method.code == 'tamara' && cart_summary['invoice-preview']['total_amount_after_discount'] < 500 -->
            <div nz-row  *ngFor="let method of payment_types" nzAlign="middle" nzJustify="start" [ngStyle]="{'background': '#f8f8f8', 'padding': '20px', 'color': '#121212', 'margin': '17px 0', 'display': method.code == 'tamara' && cart_summary['invoice-preview']['total_amount_after_discount'] < 500 ? 'none': ''}" (click)="paymentSelect(method)">
                <div nz-col nzXs="2" nzSm="2" nzMd="2" nzLg="2" nzXl="2">
                    <i nz-icon  class="search-icon" nzType="check" *ngIf="paymentType.code == method.code" style="background: #6D1442;padding: 3px;border-radius: 4px;color: white;"></i>
                    <i nz-icon  class="search-icon" nzType="check" *ngIf="paymentType.code != method.code" style="background: white;padding: 3px;border-radius: 4px;color: transparent;border: 1px solid rgb(201, 201, 201);"></i>
                </div>

                <div nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="22" nzXl="22">
                    <div nz-row nzJustify="start">
                        <div nz-col>
                            <!-- <span style="padding: 16px 13px;background: #6D1442;border-radius: 999px;"> -->
                                <!-- <div style="padding: 16px;background: #6D1442;width: 56px;border-radius: 999px;"> -->
                                    <img src="/assets/images/checkout/cash-white.svg"  style="padding: 17px;background: #6D1442;border-radius: 999px;margin: 1px 0"  alt="">
                                <!-- </div> -->
                            <!-- </span> -->
                        </div>
                        &nbsp;
                        &nbsp;
                        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="19" nzXl="19">
                            <b>{{sacproducts.length && method.name_en == 'cash' ? 'الدفع المسبق' : method.name_ar }}</b>
                            <p>يمكنك اخنيار {{sacproducts.length && method.name_en == 'cash' ? 'الدفع المسبق' : method.name_ar}} كطريقة الدفع</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>


            <!-- <div nz-row  nzAlign="middle" nzJustify="start" style="background: #f8f8f8;padding: 20px;color: #121212" (click)="paymentSelect('cash')">
                <div nz-col nzXs="2" nzSm="2" nzMd="2" nzLg="2" nzXl="2">
                    <i nz-icon  class="search-icon" nzType="check" *ngIf="paymentType == 'cash'" style="background: #6D1442;padding: 3px;border-radius: 4px;color: white;"></i>
                    <i nz-icon  class="search-icon" nzType="check" *ngIf="paymentType != 'cash'" style="background: white;padding: 3px;border-radius: 4px;color: transparent;border: 1px solid rgb(201, 201, 201);"></i>
                </div>

                <div nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="22" nzXl="22">
                    <div nz-row nzJustify="start">
                        <div nz-col>
                            <img src="/assets/images/checkout/cash-white.svg"  style="padding: 17px;background: #6D1442;border-radius: 999px;margin: 1px 0"  alt="">
                        </div>
                        &nbsp;
                        &nbsp;
                        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="19" nzXl="19">
                            <b>عن طريق النقاط</b>
                            <p>يمكنك اخنيار طريقة الدفع عند استلام الطلب</p>

                        </div>
                    </div>
                </div>
            </div> -->
            <br>


        </div>

        <!-- submitted -->
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" dir="rtl" style="width: 100%" nzAlign="middle" nzJustify="center" *ngIf="orderStatus == 'submitted'" class="animate__animated animate__fadeIn animate__faster">
            <br>
            <div nz-row nzAlign="middle" nzJustify="center" style="background: transparent;padding: 5px;margin: 19px 0;border-radius: 5px;">
                <img src="/assets/images/checkout/order-done.svg" alt="">
            </div>
            <div>
                <p style="text-align: center;font-size: 22px;font-weight: bold">شكراً لك, تم استلام الطلب</p>
                <p style="text-align: center;">سوف يتم مراجعة الطلب في أسرع وقت, يمكنك تتبع الطلب أو شراء منتجات أخرى</p>
                <br>
                <div style="width: 330px;margin: 0 auto;">
                    <button style="background: #6D1442; border: none;color: #eeeeee;border-radius: 15px;padding: 18px; width: 100%;text-align: center">
                        <span style="margin: 0 6px;font-size: 19px;">متابعة الطلب</span>
                    </button>
                </div>

            </div>
        </div>
        <!-- end of products cart & order status section -->


        <!-- mobile check-out & copun section -->
        <div nz-col nzXs="24" nzSm="24" nzMd="0" nzLg="0" nzXl="0" *ngIf="orderStatus != 'submitted' && orderStatus == 'cart' || orderStatus == 'location' || orderStatus == 'payment' && products.length" class="animate__animated animate__fadeIn animate__faster">
            <div style="padding: 16px;background: #f8f8f8;border-radius: 5px;margin-top: 18px;" dir="rtl">
                <h2 style="color: #121212">ملخص عربة التسوق</h2>
                <br>
                <!--  -->
                <p *ngIf="orderStatus == 'cart'" class="copun-query">هل تمتلك كود خصم؟</p>
                <br *ngIf="orderStatus == 'cart'">
                <div *ngIf="orderStatus == 'cart'">
                    <nz-input-group [nzSuffix]="suffixTemplateInfo" [nzPrefix]="prefixTemplateUser" dir="ltr">
                        <input type="text" nz-input placeholder="أدخل كود الخصم..." dir="rtl" [(ngModel)]="copunText"/>
                    </nz-input-group>
                    <p style="text-align: center;margin: 10px;color:rgb(107, 209, 59);font-weight: bold" *ngIf="!isLoadingCoupon && couponMsg">تم تطبيق الخصم بنجاح</p>
                    <ng-template #prefixTemplateUser><button class="search-btn" (click)="applyCopun()"><span *ngIf="!isLoadingCoupon">تطبيق</span> <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isLoadingCoupon"></i></button></ng-template>
                    <ng-template #suffixTemplateInfo>
                        <img src="/assets/images/checkout/discount-icon.svg" style="margin: 0 10px;width: 22px;" alt="">
                    </ng-template>
                </div>
                <!--  -->
                <br>
                <div nz-row nzAlign="middle" nzJustify="space-between">
                    <div nz-col style="font-size: 17px; color: #9ba1aa;font-weight: bold">عدد المنتجات</div>
                    <div nz-col style="font-size: 17px; color: rgb(53, 53, 53);font-weight: bold">{{products.length}}</div>
                </div>
                <br>
                <div nz-row nzAlign="middle" nzJustify="space-between">
                    <div nz-col style="font-size: 17px; color: #9ba1aa;font-weight: bold">إجمالي مبلغ المنتجات</div>
                    <div nz-col style="font-size: 17px; color: rgb(53, 53, 53);font-weight: bold">{{cart_summary['invoice-preview']['total_amount_after_discount'] | number:'1.2-5'}} {{country_iso_code == 'SA' ? 'ريال' : 'درهم'}}</div>
                </div>
                <br>
                <div nz-row nzAlign="middle" nzJustify="space-between">
                    <div nz-col style="font-size: 17px; color: #9ba1aa;font-weight: bold">الخصم</div>
                    <div nz-col style="font-size: 17px; color: rgb(107, 209, 59);font-weight: bold">{{cart_summary['invoice-preview']['total_amount'] - cart_summary['invoice-preview']['total_amount_after_discount'] | number:'2.0-5'}} {{country_iso_code == 'SA' ? 'ريال' : 'درهم'}}</div>
                </div>
                <br>
                <div nz-row nzAlign="middle" nzJustify="space-between">
                    <div nz-col style="font-size: 17px; color: #9ba1aa;font-weight: bold">رسوم التوصيل</div>
                    <div nz-col style="font-size: 17px; color: rgb(53, 53, 53);font-weight: bold">{{cart_summary['invoice-preview']['delivery_fee'] | number:'1.2-5'}} {{country_iso_code == 'SA' ? 'ريال' : 'درهم'}}</div>
                </div>
                <br>
                <hr style="border: 1px solid #dadce0">
                <!-- <nz-divider></nz-divider> -->
                <br>
                <div nz-row nzAlign="middle" nzJustify="space-between">
                    <div nz-col style="font-size: 17px; color: #9ba1aa;font-weight: bold">إجمالي المبلغ</div>
                    <div nz-col style="font-size: 17px; color: #6D1442;font-weight: bold">{{cart_summary['invoice-preview']['total_amount_after_discount'] | number:'1.2-5'}} {{country_iso_code == 'SA' ? 'ريال' : 'درهم'}}</div>
                </div>
                <br>
                <br>
                <button nzBlock *ngIf="orderStatus == 'cart'"  style="padding: 20px;width: 100%;border: none;background: #6D1442;color: white;border-radius: 999px;" (click)="goLocation()">
                    <!-- <i nz-icon nzType="download"></i> -->
                    <p style="font-size: 17px;margin: auto 0;">إتمام عملية الشراء</p>
                </button>

                <button nzBlock *ngIf="orderStatus == 'location'"  style="padding: 20px;width: 100%;border: none;background: #6D1442;color: white;border-radius: 999px;" (click)="goPayment()">
                    <!-- <i nz-icon nzType="download"></i> -->
                    <p style="font-size: 17px;margin: auto 0;">إستمرار لعملية الدفع</p>
                </button>

                <button *ngIf="orderStatus == 'payment'  && !isSubmitting" nzBlock  style="padding: 20px;width: 100%;border: none;background: #6D1442;color: white;border-radius: 999px;" (click)="submitOrder()">
                    <p style="font-size: 17px;margin: auto 0;">إتمام الطلب</p>
                </button>
            </div>
        </div>


        <!-- web product images -->
        <!-- <div nz-col nzXs="0" nzSm="0" nzMd="11" nzLg="11" nzXl="11">
            <img src="/assets/images/order_details/product-full-image.png" style="margin: 8px 0px 18px 0px" width="100%" alt="">
            <div nz-row dir="rtl" >
                <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8"><img src="/assets/images/order_details/product-thumbnail-2.png" width="88%" alt=""></div>

                <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8"><img src="/assets/images/order_details/product-thumbnail-1.png" width="88%" alt=""></div>

                <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8"><img src="/assets/images/order_details/product-thumbnail-2.png" width="88%" alt=""></div>
            </div>
        </div> -->
    </div>

    <!-- loading -->
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngIf="orderStatus == 'cart' && products.length <= 0 && isLoadingProducts" style="text-align: center">
        <img src="../../../assets/images/loader-1.gif" width="340" height="340" style="text-align: center" alt="">
    </div>

    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" dir="rtl" style="width: 100%" nzAlign="middle" nzJustify="center" *ngIf="products.length <= 0 && !isLoadingProducts">
        <div nzAlign="middle" nzJustify="center"  style="background: transparent;padding: 15px;margin: 19px 0;text-align: center">
            <div>
                <img src="/assets/images/illustrations/empty_cart.png" width="270" height="270"/>
            </div>
            <br>
            <div>
              <p style="text-align: center;font-size: 20px">لم يتم إضافة منتجات لعربة التسوق</p>
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!-- web promo banner -->
    <div class="web-download-section" style="width: 100%;background: url(/assets/images/home/download-section-bg.png);background-repeat: no-repeat;background-position: center;padding: 5%;position: relative;" *ngIf="orderStatus != 'submitted'">
        <!-- <img src="" width="100%" alt=""> -->

        <div style="width: 1100px;z-index: 100;height: 327px;background-repeat: no-repeat;margin: 0px auto;clear: both;">
            <div style="float: left;padding-left: 2%;">
                <img src="/assets/images/home/mockup-download.png"  style="position: absolute;top: 7%;" alt="">
            </div>

            <div style="float: right;padding-right: 9%;" dir="rtl">
                <p style="font-size: 2em;font-weight: bold;color: #121212;margin-top: 10%;"> حمل التطبيق الآن ! <br> <small style="font-size: 19px;font-weight: 100;">قم بتحميل تطبيق الجوال واطلب اللي تبغاه</small></p>

                <div>
                    <a href="https://appgallery.huawei.com/app/C102802029"><img src="/assets/images/home/appGallery-button.png" alt=""></a>
                    &nbsp;
                    <a href="https://apps.apple.com/us/app/%D8%AA%D8%B1%D9%83%D9%8A-%D9%84%D9%84%D8%B0%D8%A8%D8%A7%D8%A6%D8%AD/id1115628569"><img src="/assets/images/home/app-store.png" alt=""></a>
                    &nbsp;
                    <a href="https://play.google.com/store/apps/details?id=com.digishapes.turkieshop&hl=ar&gl=US"><img src="/assets/images/home/play-store.png" alt=""></a>
                </div>
            </div>
            <!-- <div style="clear: both;"></div> -->
        </div>

    </div>
    <!-- web promo banner end -->

    <!-- mobile promo banner -->
    <div class="mobile-download-section" style="width: 100%;background: url(/assets/images/home/download-section-bg.png);;background-repeat: no-repeat;background-position: center;padding: 5%;">
        <!-- <img src="" width="100%" alt=""> -->
        <div nz-row>
            <!-- <div nz-col>
                <div style="text-align: center">
                    <img src="/assets/images/home/mockup-download.png" alt="">
                </div>
            </div> -->
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <div style="text-align: center">
                    <p style="font-size: 2em;font-weight: bold;color: #121212;">! حمل التطبيق الآن <br> <small style="font-size: 19px;font-weight: 100;">قم بتحميل تطبيق الجوال واطلب اللي تبغاه</small></p>

                    <div>
                        <a href="https://appgallery.huawei.com/app/C102802029"><img src="/assets/images/home/appGallery-button.png" width="28%" alt=""></a>
                        &nbsp;
                        <a href="https://apps.apple.com/us/app/%D8%AA%D8%B1%D9%83%D9%8A-%D9%84%D9%84%D8%B0%D8%A8%D8%A7%D8%A6%D8%AD/id1115628569"><img src="/assets/images/home/app-store.png" alt="" width="28%"></a>
                        &nbsp;
                        <a href="https://play.google.com/store/apps/details?id=com.digishapes.turkieshop&hl=ar&gl=US"><img src="/assets/images/home/play-store.png" alt="" width="28%"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end of cart & copun -->
</div>
