<div style="padding: 40px 2%">
    <div dir="rtl" style="padding: 0 7%">
        <p style="font-size: 19px;font-weight: bold" class="web-slider animate__animated animate__fadeIn">من نحن؟</p>
    </div>
    <br>

    <div nz-row nzJustify="center" nzAlign="middle" dir="ltr">
        <div nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="12" nzXl="11" style="margin: 14px 0">
            <img src="/assets/images/about_us/about-img.png" width="100%" alt="" class="web-slider animate__animated animate__fadeIn">
        </div>
        <div nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="11" nzXl="11" style="margin: 14px 0;" dir="rtl">
            <!-- <b style="color: #7e1f16">عن تركي</b> -->
            <p style="font-size: 22px;color: #6D1442;font-weight: bold" class="web-slider animate__animated animate__fadeInUp animate_faster">عن تركى</p>
            <p style="width: 97%;line-height: 30px" class="web-slider animate__animated animate__fadeInUp animate_fast">
              هي شركة أسسها رجل أعمال سعودي عصامي بناها من الصفر، نحت الصخر لفترة طويلة حتى جعلها كيان مؤسسي قوي ومن ثم تحولت إلى شركة يشار لها بالبنان.',
              'يعد تطبيق تركي واحد من اقوى وأبرز التطبيقات الرائـــدة فــــي توصيل اللحوم الطازجــة الى المنازل وتمتلك الشركة امــــــكــــانيات وعـــــلاقات تجـــعل منها عــــلامة فـــــارقة فــــي مـــجال اللــــــحوم. ونعمل على توفير باقة متنوعة من أصناف اللحوم والدواجن والفواكه والخضار والتمور بالاضافة لاصناف متنوعة بمعايير وجــودة عالية وتوفر منتجاتها لعملائها في جميع مناطق المـــملكة الــــعربية السعودية ودول الخليج.',
              "أن نصبح الشركة الرائدة في مجال اللحوم والأغذية الطازجة في الشرق الأوسط.",
              'رضا العميل دائماً بتقديم أجود أنواع المنتجات الطازجة بأسعار تنافسية.',
              'مبنية على المصداقية والتطوير من خلال اخذ المقترحات والمشاكل التي صادفت العملاء لضمان النجاح الدائم لهذه الشركة.',
              'نوفر لكم أجود أنواع اللحوم والداوجن والفواكه والخضار والتمور وتحت إشراف كوادر سعوديين وأطباء بيطرين متميزين بأفضل الأجهزة للمحافظة على سلامة وجودة المنتج.            </p>
        </div>
    </div>
    <!-- <br>
    <br>

    <div nz-row nzJustify="center" nzAlign="middle" dir="ltr">
        <div nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="22" nzXl="22" style="margin: 14px 0">
            <img src="/assets/images/about_us/founder.PNG" width="100%" alt="" class="web-slider animate__animated animate__fadeIn">
        </div>
    </div> -->

    <br>
    <br>
    <div nz-row nzAlign="middle" nzJustify="center" dir="rtl">
        <div nz-col  nzXs="22" nzSm="22" nzMd="11" nzLg="7" nzXl="7" style="padding: 16px;background: #fff2f3;margin: 10px 10px;border-radius: 10px;" class="web-slider animate__animated animate__fadeInUp animate_slow">
            <div nz-row nzJustify="start" nzAlign="middle" style="color: #121212;margin: 10px 0">
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: start">
                    <div nz-row nzAlign="middle">
                        <div nz-col nzXs="9" nzSm="9" nzMd="9" nzLg="9" nzXl="9" >
                            <!-- <span style="background: #4db144;;padding: 19px 19px;border-radius: 999px;"> -->
                                <img src="/assets/images/about_us/vision.svg" width="80%" alt="">
                            <!-- </span>                                         -->
                        </div>
                        <div nz-col nzXs="15" nzSm="15" nzMd="15" nzLg="15" nzXl="15">
                            <b style="font-size: 22px">رؤيتنا</b>
                        </div>
                    </div>
                    <br>
                    <div nz-row nzAlign="middle" nzJustify="center">
                        <p style="line-height: 30px">تسعى شركة تركى بأن تصبح الشركة الرائدة في مجال المنتجات الغذائية الطازجة في الشرق الأوسط</p>
                        <!-- <p style="line-height: 30px">نسعى لنكون الشركة الأكثر ثقة وجودة على المستوى المحلي والعالمي في مجال اللحوم بحلول عام 2030</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div nz-col  nzXs="22" nzSm="22" nzMd="11" nzLg="7" nzXl="7" style="padding: 16px;background: #f4f6f7;margin: 10px 10px;border-radius: 10px;" class="web-slider animate__animated animate__fadeInUp">
            <div nz-row nzJustify="start" nzAlign="middle" style="color: #121212;margin: 10px 0">
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: start">
                    <div nz-row nzAlign="middle">
                        <div nz-col nzXs="9" nzSm="9" nzMd="9" nzLg="9" nzXl="9" >
                            <!-- <span style="background: #4db144;;padding: 19px 19px;border-radius: 999px;"> -->
                                <img src="/assets/images/about_us/goal.svg" width="80%" alt="">
                            <!-- </span>                                         -->
                        </div>
                        <div nz-col nzXs="15" nzSm="15" nzMd="15" nzLg="15" nzXl="15">
                            <b style="font-size: 22px">هدفنا</b>
                        </div>
                    </div>
                    <br>
                    <div nz-row nzAlign="middle" nzJustify="center">
                        <p style="line-height: 30px">تقديم أفضل منتجات اللحوم والدواجن والخضروات الطازجة ذات جودة عالية وبأفضل المواصفات الغذائية وذلك حرصاً منا على جودة الحياة لأفراد المجتمعات التي تعمل معنا</p>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col  nzXs="22" nzSm="22" nzMd="11" nzLg="7" nzXl="7" style="padding: 16px;background: #e6f0f5;margin: 10px 10px;border-radius: 10px;" class="web-slider animate__animated animate__fadeInUp animate_fast">
            <div nz-row nzJustify="start" nzAlign="middle" style="color: #121212;margin: 10px 0">
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: start">
                    <div nz-row nzAlign="middle">
                        <div nz-col nzXs="9" nzSm="9" nzMd="9" nzLg="9" nzXl="9" >
                            <!-- <span style="background: #4db144;;padding: 19px 19px;border-radius: 999px;"> -->
                                <img src="/assets/images/about_us/value.svg" width="80%" alt="">
                            <!-- </span>                                         -->
                        </div>
                        <div nz-col nzXs="15" nzSm="15" nzMd="15" nzLg="15" nzXl="15">
                            <b style="font-size: 22px">قيمنا</b>
                        </div>
                    </div>
                    <br>
                    <div nz-row nzAlign="middle" nzJustify="center">
                        <p style="line-height: 30px">مبنية على المصداقية والتطوير من خلال اخذ المقترحات والمشاكل التي صادفت العملاء لضمان النجاح الدائم لهذه الشركة.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div nz-row nzAlign="top" nzJustify="space-around" dir="rtl" style="padding: 0 5%">
        <div nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="11" nzXl="11" style="margin: 18px 0 ">
            <img src="/assets/images/about_us/our-services.png" width="100%" alt="" class="web-slider animate__animated animate__fadeIn">
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="10" nzXl="10" style="margin: 18px 0 ">
            <p style="font-size: 32px;font-weight: bold" class="web-slider animate__animated animate__fadeIn">خدماتنا</p>
            <p class="web-slider animate__animated animate__fadeIn">
                نوفر لكم أجود أنواع اللحوم والداوجن والفواكه والخضار والتمور وتحت إشراف كوادر سعوديين وأطباء بيطرين متميزين بأفضل الأجهزة للمحافظة على سلامة وجودة المنتج.
            </p>

            <br>
            <br>
            <div nz-row >
                <div nz-col nzXs="11" nzSm="24" nzMd="24" nzLg="24" nzXl="11" style="margin: 10px 0;" class="web-slider animate__animated animate__fadeInRight">
                    <div nz-row nzJustify="space-around">
                        <div nz-col nzXs="23" nzSm="4" nzMd="4" nzLg="4" nzXl="8" >
                            <img src="/assets/images/about_us/quality.svg" alt="">
                        </div>
                        <!-- <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1"></div> -->
                        <div nz-col nzXs="23" nzSm="18" nzMd="15" nzLg="13" nzXl="12" >
                            <span><b style="font-size: 18px">الفحص الطبي</b></span>
                            <span><p>لضمان فحص اللحوم قبل وبعد الذبح</p></span>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div nz-col nzXs="11" nzSm="24" nzMd="24" nzLg="24" nzXl="11" style="margin: 10px 0;" class="web-slider animate__animated animate__fadeInRight">
                    <div nz-row nzJustify="space-around">
                        <div nz-col nzXs="23" nzSm="4" nzMd="4" nzLg="4" nzXl="8" >
                            <img src="/assets/images/about_us/encapsulation.svg" alt="">
                        </div>
                        <!-- <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1"></div> -->
                        <div nz-col nzXs="23" nzSm="18" nzMd="15" nzLg="13" nzXl="12" >
                            <span><b style="font-size: 18px">التغليف</b></span>
                            <span><p>لضمان فحص اللحوم قبل وبعد الذبح</p></span>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div nz-col nzXs="11" nzSm="24" nzMd="24" nzLg="24" nzXl="11" style="margin: 10px 0;" class="web-slider animate__animated animate__fadeInRight">
                    <div nz-row nzJustify="space-around">
                        <div nz-col nzXs="23" nzSm="4" nzMd="4" nzLg="4" nzXl="8" >
                            <img src="/assets/images/about_us/dbh.svg" alt="">
                            <!-- <img src="../assets/images/about_us/dbh.svg" alt=""> -->
                        </div>
                        <!-- <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1"></div> -->
                        <div nz-col nzXs="23" nzSm="18" nzMd="15" nzLg="13" nzXl="12" >
                            <span><b style="font-size: 18px">الذبح</b></span>
                            <span><p>لضمان فحص اللحوم قبل وبعد الذبح</p></span>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div nz-col nzXs="11" nzSm="24" nzMd="24" nzLg="24" nzXl="11" style="margin: 10px 0;" class="web-slider animate__animated animate__fadeInRight">
                    <div nz-row nzJustify="space-around">
                        <div nz-col nzXs="23" nzSm="4" nzMd="4" nzLg="4" nzXl="8" >
                            <img src="/assets/images/about_us/delivering.svg" alt="">
                        </div>
                        <!-- <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1"></div> -->
                        <div nz-col nzXs="23" nzSm="18" nzMd="15" nzLg="13" nzXl="12" >
                            <span><b style="font-size: 18px">التوصيل</b></span>
                            <span><p>لضمان فحص اللحوم قبل وبعد الذبح</p></span>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div nz-col nzXs="11" nzSm="24" nzMd="24" nzLg="24" nzXl="11" style="margin: 10px 0;" class="web-slider animate__animated animate__fadeInRight">
                    <div nz-row nzJustify="space-around">
                        <div nz-col nzXs="23" nzSm="4" nzMd="4" nzLg="4" nzXl="8" >
                            <img src="/assets/images/about_us/cutting.svg" alt="">
                        </div>
                        <!-- <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1"></div> -->
                        <div nz-col nzXs="23" nzSm="18" nzMd="15" nzLg="13" nzXl="12" >
                            <span><b style="font-size: 18px">التقطيع</b></span>
                            <span><p>لضمان فحص اللحوم قبل وبعد الذبح</p></span>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div nz-col nzXs="11" nzSm="24" nzMd="24" nzLg="24" nzXl="11" style="margin: 10px 0;" class="web-slider animate__animated animate__fadeInRight">
                    <div nz-row nzJustify="space-around">
                        <div nz-col nzXs="23" nzSm="4" nzMd="4" nzLg="4" nzXl="8" >
                            <img src="/assets/images/about_us/quality.svg" alt="">
                        </div>
                        <!-- <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1"></div> -->
                        <div nz-col nzXs="23" nzSm="18" nzMd="15" nzLg="13" nzXl="12" >
                            <span><b style="font-size: 18px">اختبار الجودة</b></span>
                            <span><p>لضمان فحص اللحوم قبل وبعد الذبح</p></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br><br>
    <!-- web promo banner -->
    <div nz-row>
        <div class="web-download-section" style="width: 100%;background: url(/assets/images/home/download-section-bg.png);background-repeat: no-repeat;background-position: center;padding: 5%;position: relative;">
            <!-- <img src="" width="100%" alt=""> -->

            <div style="width: 1100px;z-index: 100;height: 327px;background-repeat: no-repeat;margin: 0px auto;clear: both;">
                <div style="float: left;padding-left: 2%;">
                    <img src="/assets/images/home/mockup-download.png"  style="position: absolute;top: 7%;" alt="">
                </div>

                <div style="float: right;padding-right: 9%;" dir="rtl">
                    <p style="font-size: 2em;font-weight: bold;color: #121212;margin-top: 10%;"> حمل التطبيق الآن ! <br> <small style="font-size: 19px;font-weight: 100;">قم بتحميل تطبيق الجوال واطلب اللي تبغاه</small></p>

                    <div>
                        <a href="https://appgallery.huawei.com/app/C102802029"><img src="/assets/images/home/appGallery-button.png" alt=""></a>
                        &nbsp;
                        <a href="https://apps.apple.com/us/app/turki-dabayh/id1115628569"><img src="/assets/images/home/app-store.png" alt=""></a>
                        &nbsp;
                        <a href="https://play.google.com/store/apps/details?id=com.digishapes.turkieshop&hl=ar&gl=US"><img src="/assets/images/home/play-store.png" alt=""></a>
                    </div>
                </div>
                <!-- <div style="clear: both;"></div> -->
            </div>

        </div>
    </div>
    <!-- web promo banner end -->

    <!-- mobile promo banner -->
    <div class="mobile-download-section" style="width: 100%;background: url(/assets/images/home/download-section-bg.png);;background-repeat: no-repeat;background-position: center;padding: 5%;">
        <!-- <img src="" width="100%" alt=""> -->
        <div nz-row>
            <!-- <div nz-col>
                <div style="text-align: center">
                    <img src="/assets/images/home/mockup-download.png" alt="">
                </div>
            </div> -->
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <div style="text-align: center">
                    <p style="font-size: 2em;font-weight: bold;color: #121212;">! حمل التطبيق الآن <br> <small style="font-size: 19px;font-weight: 100;">قم بتحميل تطبيق الجوال واطلب اللي تبغاه</small></p>

                    <div>
                        <a href="https://appgallery.huawei.com/app/C102802029"><img src="/assets/images/home/appGallery-button.png" width="28%" alt=""></a>
                        &nbsp;
                        <a href="https://apps.apple.com/us/app/turki-dabayh/id1115628569"><img src="/assets/images/home/app-store.png" alt="" width="28%"></a>
                        &nbsp;
                        <a href="https://play.google.com/store/apps/details?id=com.digishapes.turkieshop&hl=ar&gl=US"><img src="/assets/images/home/play-store.png" alt="" width="28%"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- mobile promo banner end -->
    <!-- end of cart & copun -->
</div>
